In [121]:
import pandas as pd
import random

In [122]:
df = pd.read_csv('tm.csv')

In [123]:
df.columns

Index(['ToiletID', 'URL', 'Name', 'Address1', 'Town', 'State', 'Postcode',
       'AddressNote', 'Male', 'Female', 'Unisex', 'DumpPoint', 'FacilityType',
       'ToiletType', 'AccessLimited', 'PaymentRequired', 'KeyRequired',
       'AccessNote', 'Parking', 'ParkingNote', 'AccessibleMale',
       'AccessibleFemale', 'AccessibleUnisex', 'AccessibleNote', 'MLAK',
       'ParkingAccessible', 'AccessibleParkingNote', 'Ambulant', 'LHTransfer',
       'RHTransfer', 'AdultChange', 'ChangingPlaces', 'IsOpen',
       'OpeningHoursSchedule', 'OpeningHoursNote', 'BabyChange',
       'BabyCareRoom', 'Showers', 'DrinkingWater', 'SharpsDisposal',
       'SanitaryDisposal', 'IconURL', 'IconAltText', 'Notes', 'Status',
       'Latitude', 'Longitude'],
      dtype='object')

In [124]:
for i in range(0,len(df.columns)):
    print("{} has {} null values".format(df.columns[i],df[df.columns[i]].isnull().sum()))

ToiletID has 0 null values
URL has 0 null values
Name has 0 null values
Address1 has 0 null values
Town has 0 null values
State has 0 null values
Postcode has 476 null values
AddressNote has 15525 null values
Male has 0 null values
Female has 0 null values
Unisex has 0 null values
DumpPoint has 0 null values
FacilityType has 3330 null values
ToiletType has 8974 null values
AccessLimited has 0 null values
PaymentRequired has 0 null values
KeyRequired has 0 null values
AccessNote has 16996 null values
Parking has 0 null values
ParkingNote has 17210 null values
AccessibleMale has 0 null values
AccessibleFemale has 0 null values
AccessibleUnisex has 0 null values
AccessibleNote has 16071 null values
MLAK has 0 null values
ParkingAccessible has 0 null values
AccessibleParkingNote has 17210 null values
Ambulant has 0 null values
LHTransfer has 0 null values
RHTransfer has 0 null values
AdultChange has 0 null values
ChangingPlaces has 0 null values
IsOpen has 0 null values
OpeningHoursSchedule has 14040 null values
OpeningHoursNote has 15284 null values
BabyChange has 0 null values
BabyCareRoom has 0 null values
Showers has 0 null values
DrinkingWater has 0 null values
SharpsDisposal has 0 null values
SanitaryDisposal has 0 null values
IconURL has 0 null values
IconAltText has 12 null values
Notes has 16598 null values
Status has 0 null values
Latitude has 0 null values
Longitude has 0 null values

**If the Number of null values is greater than 10000, we simply drop that column**

In [127]:
lt = len(df.columns)
for i in range(0,lt):
    if df[df.columns[i]].isnull().sum() > 10000:
        df.drop([df.columns[i]],axis=1,inplace=True)

In [128]:
df.columns

Index(['ToiletID', 'URL', 'Name', 'Address1', 'Town', 'State', 'Postcode',
       'Male', 'Female', 'Unisex', 'DumpPoint', 'FacilityType', 'ToiletType',
       'AccessLimited', 'PaymentRequired', 'KeyRequired', 'Parking',
       'AccessibleMale', 'AccessibleFemale', 'AccessibleUnisex', 'MLAK',
       'ParkingAccessible', 'Ambulant', 'LHTransfer', 'RHTransfer',
       'AdultChange', 'ChangingPlaces', 'IsOpen', 'BabyChange', 'BabyCareRoom',
       'Showers', 'DrinkingWater', 'SharpsDisposal', 'SanitaryDisposal',
       'IconURL', 'IconAltText', 'Status', 'Latitude', 'Longitude'],
      dtype='object')

In [129]:
for i in range(0,len(df.columns)):
    if df[df.columns[i]].isnull().sum()>0:
        print(df.columns[i])

Postcode
FacilityType
ToiletType
IconAltText

In [130]:
PostcodeList = df['Postcode'].dropna().unique()

In [131]:
df['Postcode'].fillna(random.choice(PostcodeList),inplace =True)

In [132]:
for i in range(0,len(df.columns)):
    if df[df.columns[i]].isnull().sum()>0:
        print(df.columns[i])

FacilityType
ToiletType
IconAltText

In [133]:
df['FacilityType'].fillna('Other Facility',inplace =True)

In [134]:
for i in range(0,len(df.columns)):
    if df[df.columns[i]].isnull().sum()>0:
        print(df.columns[i])

ToiletType
IconAltText

In [135]:
ToiletTypeList = df['ToiletType'].dropna().unique()
IconAltTextList = df['IconAltText'].dropna().unique()
ToiletTypeList

array(['Sewerage', 'Septic', 'Drop toilet', 'Compost', 'Sealed Vault',
       'Automatic', 'Pit'], dtype=object)

In [136]:
df['ToiletType'].fillna(random.choice(ToiletTypeList),inplace =True)

In [137]:
df['ToiletType'].isnull().sum()

0

In [138]:
df['IconAltText'].fillna(random.choice(IconAltTextList),inplace =True)

In [139]:
for i in range(0,len(df.columns)):
    if df[df.columns[i]].isnull().sum()>0:
        print(df.columns[i])

In [140]:
for i in range(0,len(df.columns)):
    print("{} has {} null values".format(df.columns[i],df[df.columns[i]].isnull().sum()))

ToiletID has 0 null values
URL has 0 null values
Name has 0 null values
Address1 has 0 null values
Town has 0 null values
State has 0 null values
Postcode has 0 null values
Male has 0 null values
Female has 0 null values
Unisex has 0 null values
DumpPoint has 0 null values
FacilityType has 0 null values
ToiletType has 0 null values
AccessLimited has 0 null values
PaymentRequired has 0 null values
KeyRequired has 0 null values
Parking has 0 null values
AccessibleMale has 0 null values
AccessibleFemale has 0 null values
AccessibleUnisex has 0 null values
MLAK has 0 null values
ParkingAccessible has 0 null values
Ambulant has 0 null values
LHTransfer has 0 null values
RHTransfer has 0 null values
AdultChange has 0 null values
ChangingPlaces has 0 null values
IsOpen has 0 null values
BabyChange has 0 null values
BabyCareRoom has 0 null values
Showers has 0 null values
DrinkingWater has 0 null values
SharpsDisposal has 0 null values
SanitaryDisposal has 0 null values
IconURL has 0 null values
IconAltText has 0 null values
Status has 0 null values
Latitude has 0 null values
Longitude has 0 null values

In [141]:
df

,ToiletID,URL,Name,Address1,Town,State,Postcode,Male,Female,Unisex,...,BabyCareRoom,Showers,DrinkingWater,SharpsDisposal,SanitaryDisposal,IconURL,IconAltText,Status,Latitude,Longitude
0,1,https://toiletmap.gov.au/toilet/1,Sandy Beach Reserve,West Road,Bassendean,Western Australia,6054.0,True,True,False,...,False,True,False,True,False,https://toiletmap.gov.au/images/icons/mfa.png,"Male and Female, or Unisex (Accessible)",Verified,-31.921836,115.950206
1,2,https://toiletmap.gov.au/toilet/2,Point Reserve,North Road,Bassendean,Western Australia,6054.0,True,True,False,...,False,False,False,False,False,https://toiletmap.gov.au/images/icons/mfa.png,"Male and Female, or Unisex (Accessible)",Verified,-31.904410,115.960991
2,3,https://toiletmap.gov.au/toilet/3,Success Hill Reserve,Off Seventh Avenue,Bassendean,Western Australia,6054.0,True,True,False,...,False,True,True,True,False,https://toiletmap.gov.au/images/icons/mfa.png,"Male and Female, or Unisex (Accessible)",Verified,-31.896289,115.955781
3,4,https://toiletmap.gov.au/toilet/4,Jubilee Reserve,Robinson Road,Eden Hill,Western Australia,6054.0,True,True,False,...,False,False,False,True,False,https://toiletmap.gov.au/images/icons/mf.png,"Male and Female, or Unisex",Verified,-31.891474,115.940164
4,5,https://toiletmap.gov.au/toilet/5,Ashfield Reserve,Guildford Road,Ashfield,Western Australia,6054.0,True,True,False,...,False,False,False,True,False,https://toiletmap.gov.au/images/icons/mf.png,"Male and Female, or Unisex",Verified,-31.913433,115.936477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18506,55139,https://toiletmap.gov.au/toilet/55139,Blayney Showground,Marshalls Lane,Blayney,New South Wales,2799.0,False,False,True,...,False,True,False,False,False,https://toiletmap.gov.au/images/icons/mfa.png,"Male and Female, or Unisex (Accessible)",Unverified,-33.511611,149.252924
18507,55141,https://toiletmap.gov.au/toilet/55141,Lyndhurst Sports and Recreation Ground,6511 Mid Western Highway,Mandurama,New South Wales,2792.0,False,False,True,...,False,False,False,False,False,https://toiletmap.gov.au/images/icons/mfa.png,"Male and Female, or Unisex (Accessible)",Unverified,-33.673092,149.038286
18508,55143,https://toiletmap.gov.au/toilet/55143,King George Oval,Carcoar Street Blayney NSW 2799,Blayney,New South Wales,2799.0,False,False,True,...,False,False,False,False,False,https://toiletmap.gov.au/images/icons/mfa.png,"Male and Female, or Unisex (Accessible)",Unverified,-33.535167,149.249597
18509,55145,https://toiletmap.gov.au/toilet/55145,King George Oval,Carcoar Street,Blayney,New South Wales,2799.0,False,False,True,...,False,False,False,False,False,https://toiletmap.gov.au/images/icons/mfa.png,"Male and Female, or Unisex (Accessible)",Unverified,-33.532719,149.248753
18510,55147,https://toiletmap.gov.au/toilet/55147,Blayney Shire Community Centre,41 Church Street,Blayney,New South Wales,2799.0,False,False,True,...,False,False,False,False,False,https://toiletmap.gov.au/images/icons/mfa.png,"Male and Female, or Unisex (Accessible)",Unverified,-33.530255,149.255096

**In the end the number of null Values:**

In [144]:
df.isnull().sum()

ToiletID             0
URL                  0
Name                 0
Address1             0
Town                 0
State                0
Postcode             0
Male                 0
Female               0
Unisex               0
DumpPoint            0
FacilityType         0
ToiletType           0
AccessLimited        0
PaymentRequired      0
KeyRequired          0
Parking              0
AccessibleMale       0
AccessibleFemale     0
AccessibleUnisex     0
MLAK                 0
ParkingAccessible    0
Ambulant             0
LHTransfer           0
RHTransfer           0
AdultChange          0
ChangingPlaces       0
IsOpen               0
BabyChange           0
BabyCareRoom         0
Showers              0
DrinkingWater        0
SharpsDisposal       0
SanitaryDisposal     0
IconURL              0
IconAltText          0
Status               0
Latitude             0
Longitude            0
dtype: int64

In [151]:
df.to_csv(r'C:\Users\RAGHAVENDRA\Desktop\DataWiz\toiletMap.csv')